* {
    box-sizing: border-box;
    overflow: hidden;
}
html {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    border: 3px solid red;
    padding: 0;
    margin: 0;
}

#canngo_avt {
    position: absolute;
    display: flex;
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    top: 50px;
    padding: 0 auto;
    margin: 0 auto;

}

canvas {
    width: 100vw;
    height: 250px;
}