* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.7;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer {
    display: flex;
    flex-direction: column;
}

/* horizontal line class */
.hr {
    border-top: 1px solid grey;
}


h1 {
    text-align: center;
}

h2 {
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

h4 {
    margin: 5px 0px;
}

.working-exp-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 15px;
    margin-bottom: 20px;
}

.working-exp-box > h4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    width: 100%;
}

.working-exp-box > ul {
    padding: 0;
    margin: 0;
    flex-grow: 2;
}

.working-exp-box > ul > li {
    margin-left: 20px;
}

.box-company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    flex-basis: 200px;
    flex-shrink: 0;
}

a,
a:visited,
a:link,
a:any-link {
    color: black;
    text-decoration: none;
}

#canngoavatar-2 {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#summary {
    text-align: justify;
}

.major {
    margin-bottom: 0;
}
.school {
    margin-top: 0;
}

#professional-development li,
#skills li {
    margin-top: 3px;
}

.skill-bar {
    display: inline-block;
    width: 100px;
    height: 25px;
    background-color: rgb(200, 200, 200);
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
}

.green {
    height: 100%;
    background-color: rgb(0, 200, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode h2 {
    background-color: #483248;
}
#nav-links:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    body {
        width: 100%;
    }
}
    
@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    body {
        width: 100%;
    }
}
    
@media screen and (max-width: 479px) {
    /* start of phone styles */
    
    body {
        position: absolute;
        top: 20px;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .working-exp-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
    }
    
    .working-exp-box > ul > li {
        margin-left: 20px;
    }

    .working-exp-box > h4,
    .box-company {
        flex: 1;
        padding: 0;
        margin: 0;
    }

    .box-company > p {
        margin: 5px 0 5px 0;
    }

}
