@media print {
    nav {
        display: none !important;
    }

    body {
        width: 95%;
    }

    h2 {
        background-color: grey;
        color: white;
        padding: 5px;
        border-radius: 10px;
    }
 
    .working-exp-box {
        display: flex;
        flex-direction: column;
    }

    .working-exp-box > h4,
    .box-company {
        flex: 0;
    }

    .skill-bar {
        display: inline-block;
        width: 100px;
        height: 25px;
        background-color: rgb(200, 200, 200);
        margin-right: 10px;
        margin-top: 4px;
        margin-bottom: 4px;
        border-radius: 5px;
    }

    .green {
        height: 100%;
        background-color: rgb(0, 200, 0);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content:center;
        overflow: hidden;
    }

}

@page {
    size: a4;
    margin: 0;
}