* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, sans-serif;
}

h1 {
    text-align: center;
}

#canngoavatar-2 {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.summary {
    text-align: justify;
}

.major {
    margin-bottom: 0;
}
.school {
    margin-top: 0;
}

.professional-development li,
.skills li {
    margin-top: 3px;
}

.contact {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
}
    
@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    .contact {
        display: initial;
    }
}
    
@media screen and (max-width: 479px) {
    /* start of phone styles */
    .contact {
        display: initial;
    }
}