* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, sans-serif;
}

#canngoavatar-2 {
    width: 200px;
    height: auto;
    position: relative;
}

.contact {
    display: flex;
    justify-content: space-evenly;
}